*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

font-family:Poppins,sans-serif;
background:#f4f4f4;
color:#333;

}

header{

height:100vh;

background:
linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.6)),
url("img/teatro.jpg");

background-size:cover;
background-position:center;

display:flex;
justify-content:center;
align-items:center;
text-align:center;

}

.overlay{

color:white;
padding:20px;

}

h1{

font-size:65px;
font-family:Cinzel,serif;

}

header p{

font-size:22px;
margin:20px;

}

.boton{

display:inline-block;
padding:15px 35px;
background:#c89b3c;
color:white;
text-decoration:none;
border-radius:30px;
font-weight:bold;
transition:.4s;

}

.boton:hover{

background:#a77c22;

}

section{

padding:70px 10%;

}

.intro,
.autor{

display:flex;
gap:40px;
align-items:center;
flex-wrap:wrap;

}

.intro img,
.autor img{

width:420px;
border-radius:15px;
box-shadow:0 10px 25px rgba(0,0,0,.3);

}

h2{

font-size:36px;
margin-bottom:20px;
color:#8b0000;
font-family:Cinzel,serif;

}

.cards{

text-align:center;

}

.contenedor-cards{

display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:25px;
margin-top:40px;

}

.card{

background:white;
padding:30px;
border-radius:15px;
box-shadow:0 10px 20px rgba(0,0,0,.15);
transition:.3s;

}

.card:hover{

transform:translateY(-10px);

}

.imagen{

text-align:center;

}

.imagen img{

width:90%;
border-radius:15px;
box-shadow:0 10px 25px rgba(0,0,0,.25);

}

.mensaje{

background:#8b0000;
color:white;
text-align:center;

}

.mensaje h2{

color:white;

}

.galeria{

text-align:center;

}

.imagenes{

display:flex;
justify-content:center;
flex-wrap:wrap;
gap:20px;

}

.imagenes img{

width:320px;
border-radius:12px;
transition:.4s;
box-shadow:0 8px 20px rgba(0,0,0,.2);

}

.imagenes img:hover{

transform:scale(1.05);

}

footer{

background:#222;
color:white;
text-align:center;
padding:25px;

}

@media(max-width:900px){

h1{

font-size:45px;

}

.intro,
.autor{

flex-direction:column;

}

.intro img,
.autor img{

width:100%;

}

}